<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>{{ config('app.name') }} - @yield('title')</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    {{-- <link href="{{ asset('/Rocker/assets/img/favicon.png') }}" rel="icon"> --}}
    <link rel="icon" href="{{ asset('/img/favicon.png') }}" type="image/*">
    <link href="{{ asset('/Rocker/assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&display=swap" rel="stylesheet">


	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ asset('/Rocker/assets/vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ asset('/Rocker/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/Rocker/assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('/Rocker/assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/Rocker/assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/Rocker/assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">

    <!-- Template Main CSS File -->
    <link href="{{ asset('/Rocker/assets/css/style.css') }}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: MyResume - v4.9.1
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
    <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
    
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex flex-column justify-content-center">

        <nav id="navbar" class="navbar nav-menu">
            <ul>
                <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Beranda</span></a>
                </li>
                <li><a href="#resume" class="nav-link scrollto"><i class='bx bx-bar-chart-alt-2'></i> <span>Grafik Capaian</span></a>
                </li>
                <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Info Layanan</span></a>
                <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Kontak Kami</span></a>
                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Tentang Kami</span></a></li>
                </li>
                @if (auth()->guest())
                    <li><a href="{{ route('login') }}" class="nav-link scrollto"><i class='bx bx-log-in-circle'></i> <span>Login</span></a>
                    </li>
                    {{-- <li><a href="{{ route('register') }}" class="nav-link scrollto"><i class='bx bx-qr-scan'></i> <span>Register</span></a>
                    </li> --}}
                @else
                    <li><a href="{{ route('dashboard') }}" class="nav-link scrollto text-warning"><i class='bx bx-tachometer'></i> <span>Dashboard</span></a>
                    </li>
                    <li><a href="#" class="text-danger" onclick="document.querySelector('#form-logout').submit()"><i class='bx bx-log-out-circle'></i> <span>Log-out</span></a>
                    </li>
                    <form action="{{ route('logout') }}" method="post" id="form-logout">
                        @csrf
                    </form>
                @endif
            </ul>
        </nav><!-- .nav-menu -->

    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container" data-aos="zoom-in" data-aos-delay="100">
            <h1 id="judul">{{ $setting->keyword }} - {{ $setting->company_name }}</h1>
            <p>Info Layanan : <span class="typed" data-typed-items="KINERJA KEUANGAN, KUALITAS LULUSAN, KUALITAS DOSEN, KUALITAS KURIKULUM, TATA KELOLA"></span></p>
            <div class="social-links mb-3">
                <a href="{{ $setting->twitter_link }}" class="twitter"><i class="bx bxl-twitter text-info"></i></a>
                <a href="{{ $setting->fanpage_link }}" class="facebook"><i class="bx bxl-facebook text-primary"></i></a>
                <a href="{{ $setting->instagram_link }}" class="instagram"><i class="bx bxl-instagram text-warning"></i></a>
                <a href="{{ $setting->google_plus_link }}" class="google-plus"><i class='bx bxl-google-plus-circle text-danger'></i></a>
                {{-- <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> --}}
            </div>
            <h6 class="text-white">{{ $setting->about }}</h6>
        </div>
        
        <div class="video-wrap">
            <video autoplay="" loop="" muted="" class="custom-video" poster="">
                <source src="{{ asset('/Rocker/assets/video/pexels-rdne-stock-project-7947406-1920x1080-30fps.mp4') }}" type="video/mp4">
                {{-- <source src="{{ asset('/Rocker/assets/video/mixkit-business-man-with-calculator-and-charts-17435-medium.mp4') }}" type="video/mp4"> --}}
                Your browser does not support the video tag.
            </video>
        </div>
    </section><!-- End Hero -->


    <!-- ======= Hero2 Section ======= -->

    {{-- <section class="hero-section" id="section_1">
        <div class="section-overlay"></div>

        <div class="container d-flex justify-content-center align-items-center">
            <div class="row">

                <div class="col-12 mt-auto mb-5 text-center">
                    <small>Festava Live Presents</small>

                    <h1 class="text-white mb-5">Night Live 2023</h1>

                    <a class="btn custom-btn smoothscroll" href="#section_2">Let's begin</a>
                </div>

                <div class="col-lg-12 col-12 mt-auto d-flex flex-column flex-lg-row text-center">
                    <div class="date-wrap">
                        <h5 class="text-white">
                            <i class="custom-icon bi-clock me-2"></i>
                            10 - 12<sup>th</sup>, Dec 2023
                        </h5>
                    </div>

                    <div class="location-wrapmx-auto py-3 py-lg-0">
                        <h5 class="text-white">
                            <i class="custom-icon bi-geo-alt me-2"></i>
                            National Center, United States
                        </h5>
                    </div>

                    <div class="social-share">
                        <ul class="social-icon d-flex align-items-center justify-content-center">
                            <span class="text-white me-3">Share:</span>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-facebook"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-twitter"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="video-wrap">
            <video autoplay="" loop="" muted="" class="custom-video" poster="">
                <source src="{{ asset('/Rocker/assets/video/pexels-2022395.mp4') }}" type="video/mp4">

                Your browser does not support the video tag.
            </video>
        </div>
    </section> --}}

    <!-- ======= End Hero2 Section ======= -->



    <main id="main">
        
        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    @php
                        $userAuth = Auth::user();
                    @endphp
                    <h2>Grafik Capaian Tahun : 
                        @if (!empty($userAuth))
                            <span class="badge bg-warning text-primary">{{ $yeardummie->year_name_selected }}</span>
                        @else
                            <span class="badge bg-warning text-primary">{{ $year->name }}</span>
                        @endif
                    </h2>
                    <p>Data Monitoring IKU Yang Ditampilkan Adalah Hasil Kalkulasi Komponen IKU Yang Ada. Data Mungkin Akan Berubah Sewaktu - Waktu.</p>
                </div>

                <div class="row">
                    <div class="col-lg-9">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><i class='bx bx-line-chart' ></i> Target dan Capaian IKU</h5>
                                
                                    <div class="table-responsive">
                                        <table class="table m-0">
                                        <!-- Line Chart -->
                                            <div id="reportsChartIkuByPercent"></div>
                        
                                            <script>
                                                document.addEventListener("DOMContentLoaded", () => {
                                                    new ApexCharts(document.querySelector("#reportsChartIkuByPercent"), {
                                                        title: {
                                                            text: 'Satuan % (Persen)',
                                                        },
                                                        series: [{
                                                            name: 'Capaian',
                                                            data: [
                                                                @foreach($ikumasterbypercent as $data)
                                                                '{{ $data->achievment }}',
                                                                @endforeach
                                                            ]
                                                        }, {
                                                            name: 'Target',
                                                            data: [
                                                                @foreach($ikumasterbypercent as $data)
                                                                '{{ $data->target }}',
                                                                @endforeach
                                                            ]
                                                        }],
                                                        chart: {
							    fontFamily: 'Fira Sans Condensed, Arial, sans-serif',
                                                            // fontFamily: 'Poppins, Arial, sans-serif',
                                                            width: 1000,
                                                            height: 350,
                                                            type: 'bar',
                                                            toolbar: {
                                                                show: false
                                                            },
                                                        },
                                                        markers: {
                                                            size: 4
                                                        },
                                                        // colors: ['#4154f1', '#2eca6a', '#ff771d'],
                                                        // colors: ['#A61B5B', '#1B4EA6', '#ff771d'],
                                                        colors: ['#4287f5', '#f5bf42', '#ff771d'],
                                                        // fill: {
                                                        //     type: "gradient",
                                                        //     gradient: {
                                                        //         shadeIntensity: 1,
                                                        //         opacityFrom: 0.3,
                                                        //         opacityTo: 0.4,
                                                        //         stops: [0, 90, 100]
                                                        //     }
                                                        // },
                                                        dataLabels: {
                                                            enabled: true,
                                                            formatter: function (val) {
                                                                return val + " %";
                                                            },
                                                            offsetY: -20,
                                                            style: {
                                                                fontSize: '10px',
                                                                colors: ["#304758"]
                                                            }
                                                        },
                                                        plotOptions: {
                                                            bar: {
                                                                dataLabels: {
                                                                position: 'top'
                                                                }}
                                                        },
                                                        stroke: {
                                                            curve: 'smooth',
                                                            width: 2
                                                        },
                                                        xaxis: {
                                                            categories: [
                                                                @foreach($ikumasterbypercent as $data)
                                                                '{{ $data->name }}',
                                                                @endforeach
                                                            ],
                                                            tooltip: {
                                                                enabled: true,
                                                                formatter: function(val, opts,) {
                                                                    // console.log("nilane", val);
                                                                    if (val == "IKU.0.1.1") {
                                                                        return " Rasio Belanja"
                                                                    } else if(val == "IKU.0.4.1") {
                                                                        return " Modernisasi BLU"
                                                                    } else if(val == "IKU.1.1.1") {
                                                                        return " Tracer Studi"
                                                                    } else if(val == "IKU.1.2") {
                                                                        return " Persentase Lulusan"
                                                                    } else if(val == "IKU.2.1") {
                                                                        return " Tridharma Dosen"
                                                                    } else if(val == "IKU.2.2") {
                                                                        return " Dosen S3"
                                                                    } else if(val == "IKU.2.3") {
                                                                        return " Penelitian & Pengabdian"
                                                                    } else if(val == "IKU.3.1.1") {
                                                                        return " Kerjasama Mitra"
                                                                    } else if(val == "IKU.3.2.1") {
                                                                        return " Matkul Case Method"
                                                                    } else if(val == "IKU.3.3.1") {
                                                                        return " Akreditasi Internasional"
                                                                    } else if(val == "IKU.4.1.1") {
                                                                        return " Predikat Sakip"
                                                                    } else if(val == "IKU.4.2.1") {
                                                                        return " Nilai Kerja Anggaran"
                                                                    } else {
                                                                        return "....."
                                                                    }
                                                                },
                                                            },
                                                        },
                                                        tooltip: {
                                                            y: {
                                                                formatter: function (val) {
                                                                    if (parseInt(val) >= 1000) {
                                                                        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + '%';
                                                                    } else {
                                                                        return val + '%';
                                                                    }
                                                                }
                                                            },
                                                        }
                                                    }).render();
                                                });
                                            </script>
                                        <!-- End Line Chart -->
                                    </table>
                                </div>
                            </div>
            
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><i class='bx bx-line-chart' ></i> Target dan Capaian IKU</h5>
            
                                <div class="table-responsive">
                                    <table class="table m-0">
                                
                                <!-- Line Chart -->
                                        <div id="reportsChartIkuByRupiah"></div>
                    
                                        <script>
                                            document.addEventListener("DOMContentLoaded", () => {
                                                new ApexCharts(document.querySelector("#reportsChartIkuByRupiah"), {
                                                    title: {
                                                        text: 'Satuan Rp (Rupiah)',
                                                    },
                                                    series: [{
                                                        name: 'Capaian',
                                                        data: [
                                                            @foreach($ikumasterbyrupiah as $data)
                                                            '{{ $data->achievment }}',
                                                            @endforeach
                                                        ]
                                                    }, {
                                                        name: 'Target',
                                                        data: [
                                                            @foreach($ikumasterbyrupiah as $data)
                                                            '{{ $data->target }}',
                                                            @endforeach
                                                        ]
                                                    }],
                                                    chart: {
							fontFamily: 'Fira Sans Condensed, Arial, sans-serif',
                                                        width: 300,
                                                        height: 350,
                                                        type: 'bar',
                                                        toolbar: {
                                                            show: false
                                                        },
                                                    },
                                                    markers: {size: 4
                                                    },
                                                    // colors: ['#4154f1', '#2eca6a', '#ff771d'],
                                                    // colors: ['#A61B5B', '#1B4EA6', '#ff771d'],
                                                    colors: ['#4287f5', '#f5bf42', '#ff771d'],
                                                    // fill: {
                                                    //     type: "gradient",
                                                    //     gradient: {
                                                    //         shadeIntensity: 1,
                                                    //         opacityFrom: 0.3,
                                                    //         opacityTo: 0.4,
                                                    //         stops: [0, 90, 100]
                                                    //     }
                                                    // },
                                                    dataLabels: {
                                                        enabled: true,
                                                        formatter: function (val) {
                                                                if (parseInt(val) >= 1000) {
                                                                    return 'Rp. ' + val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                                                                } else {
                                                                    return 'Rp. ' + val;
                                                                }
                                                            // return "Rp. " + val ;
                                                        },
                                                        offsetY: -20,
                                                        style: {
                                                            fontSize: '10px',
                                                            colors: ["#304758"]
                                                        }
                                                    },
                                                    plotOptions: {
                                                        bar: {
                                                            borderRadius: 10,
                                                            dataLabels: {
                                                                position: 'top', // top, center, bottom
                                                            },
                                                        }
                                                    },
                                                    stroke: {
                                                        curve: 'smooth',
                                                        width: 2
                                                    },
                                                    xaxis: {
                                                        categories: [
                                                            @foreach($ikumasterbyrupiah as $data)
                                                            '{{ $data->name }}',
                                                            @endforeach
                                                        ],
                                                        tooltip: {
                                                            enabled: true,
                                                            formatter: function(val, opts,) {
                                                                if (val == "IKU.0.2.1") {
                                                                    return " Realisasi Pendapatan"
                                                                } else if(val == "IKU.0.3.1") {
                                                                    return " Optimalisasi Asset"
                                                                } else {
                                                                    return "....."
                                                                }
                                                            },
                                                        }
                                                    },
                                                    tooltip: {
                                                        y: {
                                                            formatter: function (val) {
                                                                if (parseInt(val) >= 1000) {
                                                                    return 'Rp ' + val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                                                                } else {
                                                                    return 'Rp ' + val;
                                                                }
                                                            }
                                                        },
                                                    }
                                                }).render();
                                            });
                                        </script>
                                        <!-- End Line Chart -->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Resume Section -->


        <!-- ======= IKIIIIIIIIIIIIIII ======= -->
        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Info Layanan</h2>
                    <p>Aplikasi MIKU akan memonitor Indikator Kinerja Utama sesuai dengan Perjanjian Kontrak antara Politeknik Negeri Semarang dengan Kementerian Keuangan.</p>
                </div>

                <div class="row">
                <div class="row feature-area-l-17-items justify-content-center text-center">
                    <div class="col-lg-4 col-md-6 col-sm-9">
                        <div class="count-box">
                            <i class="bx bx-coin-stack"></i>
                            <span data-purecounter-start="0" data-purecounter-end="{{ $count_fin }}" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>KINERJA KEUANGAN</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-9 mt-5 mt-md-0">
                        <div class="count-box">
                            <i class="bx bxs-graduation"></i>
                            <span data-purecounter-start="0" data-purecounter-end="{{ $count_gra }}" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>KUALITAS LULUSAN</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-9 mt-5 mt-lg-0">
                        <div class="count-box">
                            <i class="bx bx-briefcase"></i>
                            <span data-purecounter-start="0" data-purecounter-end="{{ $count_lec }}" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>KUALITAS DOSEN</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-9 mt-5 mt-lg-0">
                        <div class="count-box"><i class="bx bxs-book-open"></i>
                            <span data-purecounter-start="0" data-purecounter-end="{{ $count_cur }}" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>KUALITAS KURIKULUM</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-9 mt-5 mt-lg-0">
                        <div class="count-box">
                            <i class="bx bx-sitemap"></i>
                            <span data-purecounter-start="0" data-purecounter-end="{{ $count_gov }}" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>TATA KELOLA</p>
                        </div>
                    </div>
                </div>

                </div>

            </div>
        </section>
        <!-- End Services Section -->


        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Kontak Kami</h2>
                </div>

                <div class="row mt-1">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>{{ $setting->address }} {{ $setting->city }}, {{ $setting->province }}, {{ $setting->postal_code }}</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>{{ $setting->email }}</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>{{ $setting->phone }}</p>
                                <p>{{ $setting->phone_hours }}</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form action="{{ url('/contact') }}" method="post">
                            @csrf

                            <div class="mb-3">
                                <input type="text" name="name" class="form-control @error('name') is-invalid @enderror" placeholder="Masukan nama" value="{{ old('name') }}" required>
                                @error('name')
                                    <div class="invalid-feedback">
                                        {{ $message }}
                                    </div>
                                @enderror
                            </div>
                            <div class="mb-3">
                                <input type="text" name="phone" class="form-control @error('phone') is-invalid @enderror" placeholder="Masukan no. telepon! ex: 081390555999" value="{{ old('phone') }}" required>
                                @error('phone')
                                    <div class="invalid-feedback">
                                        {{ $message }}
                                    </div>
                                @enderror
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="email" name="email" class="form-control @error('email') is-invalid @enderror" placeholder="Masukan email" value="{{ old('email') }}" required>
                                        @error('email')
                                            <div class="invalid-feedback">
                                                {{ $message }}
                                            </div>
                                        @enderror
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" name="subject" class="form-control @error('subject') is-invalid @enderror" placeholder="Masukan subjek" value="{{ old('subject') }}" required>
                                        @error('subject')
                                            <div class="invalid-feedback">
                                                {{ $message }}
                                            </div>
                                        @enderror
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <textarea rows="5" name="message" class="form-control @error('message') is-invalid @enderror" placeholder="Masukan pesan" value="{{ old('message') }}" required></textarea>
                                @error('message')
                                    <div class="invalid-feedback">
                                        {{ $message }}
                                    </div>
                                @enderror
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-5"></div>
                                <div class="col-lg-7">
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-sm-4 mt-2">
                                                <label class="form-label">{{ __('Captcha') }} :</label>
                                                <strong>{{ getCaptchaQuestion() }}</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <input name="_jawab" type="text"
                                                    class="form-control form-control-md @error('_jawab') is-invalid @enderror"
                                                    placeholder="Hasil....">
                                                @error('_jawab')
                                                <span class="invalid-feedback" role="alert">
                                                    {{ $message }}
                                                </span>
                                                @enderror
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 text-right">
                                <button class="btn btn-primary">
                                    <i class='bx bx-paper-plane' ></i>
                                    Kirim Pesan
                                </button>
                            </div>
                            
                            {{-- <div class="mb-3">
                                @if (\Session::has('success'))
                                    <div class="alert alert-success">
                                        <ul>
                                            <li>{!! \Session::get('success') !!}</li>
                                        </ul>
                                    </div>
                                @endif
                            </div> --}}
                        </form>


                    </div>

                </div>

            </div>
        </section><!--End Contact Section -->

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Tentang Kami</h2>
                    <h4 class="mt-4">Bagian Akademik, Kemahasiswaan, <b>Perencanaan</b> dan Kerjasama (BAKPK)</h4>
                    <p>Bagian Akademik, Kemahasiswaan, Perencanaan, &amp; Kerjasama (BAKPK), mempunyai tugas melaksanakan urusan perencanaan, akademik, kemahasiswaan, alumni, dan kerjasama di lingkungan Polines.</p>
                    
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <img src="{{ asset('/Rocker/assets/img/polines.jpg') }}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content">
                        <h3>BAKPK menyelenggarakan fungsi:</h3>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul>
                                    <li><strong>a:</strong><span>pelaksanaan penyusunan rencana, program, kegiatan, dan anggaran;</span></li>
                                    <li><strong>b:</strong><span>pelaksanaan layanan akademik;</span></li>
                                    <li><strong>c:</strong><span>pelaksanaan registrasi dan penyusunan data dan informasi;</span></li>
                                    <li><strong>d:</strong><span>pelaksanaan evaluasi kegiatan akademik;</span></li>
                                    <li><strong>e:</strong><span>pelaksanaan pembinaan kemahasiswaan; dan;</span></li>
                                    <li><strong>f:</strong><span>pelaksanaan administrasi kegiatan kerjasama;</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>BAKPK terdiri atas:</p>
                        <p>
                            <i class="bi bi-chevron-right"></i> Subbagian Akademik dan Kemahasiswaan, mempunyai tugas melakukan urusan layanan pendidikan, penelitian, dan pengabdian kepada masyarakat serta layanan registrasi, kegiatan kemahasiswaan, kesejahteraan mahasiswa, dan hubungan alumni.<br>
                            <i class="bi bi-chevron-right"></i> <b>Subbagian Perencanaan, mempunyai tugas melakukan penyusunan dan evaluasi pelaksanaan rencana, program, kegiatan, dan anggaran.</b><br>
                            <i class="bi bi-chevron-right"></i> Subbagian Kerjasama, mempunyai tugas melakukan pemberian layanan admnistrasi kegiatan kerjasama.<br>
                            <i class="bi bi-chevron-right"></i> Kelompok Jabatan Fungsional.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <img src="{{ asset('/img/logo2.png') }}" alt="" style="width: 170px;">
            <div class="copyright">
                &copy; Copyright <strong><span>MIKU@2022 V.1.2</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: [license-url] -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
                Designed by <a href="https://miku.polines.ac.id/">miku.polines.ac.id</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>


    <script src="{{ asset('/Rocker/assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('/Rocker/assets/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <!-- Vendor JS Files -->
    <script src="{{ asset('/Rocker/assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
    <script src="{{ asset('/Rocker/assets/vendor/aos/aos.js') }}"></script>
    <script src="{{ asset('/Rocker/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('/Rocker/assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ asset('/Rocker/assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('/Rocker/assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ asset('/Rocker/assets/vendor/typed.js/typed.min.js') }}"></script>
    <script src="{{ asset('/Rocker/assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
    <script src="{{ asset('/Rocker/assets/vendor/php-email-form/validate.js') }}"></script>

    <script src="{{ asset('/Rocker/assets/plugins/apexcharts-bundle/js/apexcharts.min.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ asset('/Rocker/assets/js/main.js') }}"></script>

    <script>
        @if(Session::has('message'))
          var type = "{{ Session::get('alert-type', 'info') }}";
          switch(type){
              case 'info':
                  toastr.info("{{ Session::get('message') }}");
                  break;

              case 'warning':
                  toastr.warning("{{ Session::get('message') }}");
                  break;

              case 'success':
                  toastr.success("{{ Session::get('message') }}");
                  break;

              case 'error':
                  toastr.error("{{ Session::get('message') }}");
                  break;
          }
      @endif
  </script>
</body>
<div style="display:none;">

<a href="https://kknreguler.unsam.ac.id/amp/s/slot-gacor/" rel="dofollow">Slot Gacor</a>
<a href="https://divif2.kostrad.mil.id/-/slot-hari-ini/" rel="dofollow">Slot Gacor</a>
<a href="https://dosen.stih-painan.ac.id/" rel="dofollow">Slot Gacor</a>
<a href="http://103.47.60.38/icons/sthailand/" rel="dofollow">Slot Gacor</a>
<a href="http://103.47.60.38/sgacor/" rel="dofollow">Slot Gacor</a>
<a href="http://bapenda.malukutenggarakab.go.id/slotgacor/" rel="dofollow">Slot Gacor</a>
<a href="https://korem031.tniad.mil.id/wp-includes/pomo/sr-gacor/" rel="dofollow">Slot Gacor</a>
<a href="https://elapor.merauke.go.id/login/home/" rel="dofollow">Slot Gacor</a>

</html>
